body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.title {
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.tasks {
  width: 550px;
  display: table;
  margin: 0 auto;
  border: 1px solid rgba(175, 47, 47, 0.1);
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.ToDof_SearchInputs {
  border-bottom: 1px solid rgba(175, 47, 47, 0.1);
}
.SearchInputs_SelectAll {
  appearance: none;
  transform: rotate(90deg);
  width: 33px;
  text-align: center;
  outline: none;
  /* cursor: pointer; */
}

.SearchInputs_SelectAll:before {
  content: "â¯";
  font-size: 23px;
  color: #e6e6e6;
}

.SearchInputs_SelectAll:checked:before {
  color: #737373;
}
.searchInputs_Search {
  position: relative;
  padding: 12px 12px 12px 5px;
  width: 80%;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: none;
}

.searchInputs_Search::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 500;
  color: #e6e6e6;
  font-size: 24px;
}
#ToDof_formClicker {
  display: none;
}

.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

#nothing {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
}

.ToDof_params {
  color: #4d4d4d;
  border-top: 1px solid rgba(175, 47, 47, 0.1);
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.ToDof_params button {
  cursor: pointer;
  background: none;
  border: none;
  margin-left: 5px;
  padding: 3px;
  outline: none;
}
.ToDof_params > span {
  float: left;
  cursor: default;
}

#clear {
  float: right;
  text-decoration: underline;
}

.todocol input[type="checkbox"] {
  border-radius: 100%;
  appearance: none;
  font-size: 13px;
  width: 35px;
  height: 35px;
  text-align: center;
  outline: none;
  position: absolute;
  left: 0;
  top: -10px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.checked input[type="checkbox"] {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todocol {
  position: relative;
  border-bottom: 1px solid rgba(175, 47, 47, 0.1);
}

.todocol h2 {
  left: 50px;
  width: 400px;
  position: relative;
  padding-left: 10px;
  transition: color 0.4s;
  transition: all 1s ease-out;
}

.checked h2 {
  text-decoration: line-through;
  text-decoration-line: line-through;
  transition: all 1s;
  color: #d9d9d9;
}
.todocol button {
  display: none;
  position: absolute;
  right: 0;
  top: -7px;
  width: 30px;
  height: 30px;
  margin: auto 0;
  font-size: 27px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  outline: none;
  background: none;
  border: none;
}

.todocol button:after {
  content: "x";
}

.todocol:hover button {
  display: block;
}

.todocol button:hover {
  color: #af5b5e;
}

.todoItem {
  outline: none;
  display: table;
}

.focus {
  border: 1px solid black !important;
}

.focus button {
  display: none !important;
}

.focus input {
  display: none !important;
}
